@import "/src/scss/variables";

.project-card {
    background: #ccc;
    padding: 10px;
    height: 330px;
    overflow: hidden;
    position: relative;

    .back-drop {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($color: $blue, $alpha: 0.5);
        top: 0;
        left: 0;
        transition: height 0.2s ease;
    }

    &:hover {
        .back-drop {
            height: 45px;
        }
        .project-card-footer {
            .btn-submit {
                background: transparent;
            }
        }
    }
    .project-bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .project-content {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        .project-card-body {
            flex: 1;
            font-size: 12px;
            .project-des {
                border-bottom: 1px solid #fff;
            }
        }
        .project-title {
            font-size: 11px;
            font-weight: bold;
            span {
                font-size: 1.2rem;
                margin-right: 5px;
            }
        }
        .project-card-footer {
            font-size: 10px;
            .btn-submit {
                color: #fff;
                border-color: #fff;
                margin-right: 10px;
                padding: 5px 10px;
            }
        }
    }
    .project-status {
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 150px;
            background: #fff;
        }
    }
}
