@import "/src/scss/variables";

.btn-arrow {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
        color: #fff;
    }

    .arrow-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: block;
            right: 0;
            width: 30px;
            border-bottom: 1px solid #fff;
            margin-left: 10px;
        }
        .arrow-white {
            position: absolute;
            right: 0;
        }
    }

    .arrow-down {
        display: flex;
        align-items: inherit;
        justify-content: center;
        margin-bottom: 1rem;
        margin-left: 5px;
        &::before {
            height: 30px;
            width: 0;
            border-right: 1px solid $blue;
            margin: 0;
        }
        .arrow {
            position: absolute;
            bottom: 0;
        }
    }
}
