@import "/src/scss/variables";

.contact-form {
    form {
        .submit-btn-wrapper {
            width: 126.45px;
            height: 42px;
            .spinner-grow {
                color: $blue;
            }
        }

        .row {
            margin-bottom: 1rem;
            max-width: 500px;
            input {
                width: 100%;
                padding: 5px 10px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }

        .field-group {
            display: flex;
        }

        .radio-container {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-right: 1rem;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }



            /* Create a custom radio button */
            .checkmark {
                display: flex;
                margin-right: 10px;
                justify-content: center;
                align-items: center;
                height: 16px;
                width: 16px;
                min-width: 16px;
                // background-color: none;
                border: 1px solid $blue;
                border-radius: 50%;
            }

            /* On mouse-over, add a grey background color */
            &:hover input ~ .checkmark {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            input:checked ~ .checkmark {
                background-color: #fff;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */
            .checkmark:after {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $blue;
            }
        }

        .concent {
            max-width: 550px;
            align-items: flex-start;
            font-size: 10px;
            .checkmark {
                margin-top: 5px;
            }
        }
    }
}
